<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to TEAM2AFRICA</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut laudantium doloremque eveniet at! Repellat cupiditate corporis iusto temporibus? Vitae voluptate ratione molestiae rem eum, corrupti fuga impedit, molestias illum exercitationem autem. Tenetur architecto officia eius voluptates nihil. Sequi ratione dolorum odit harum quia accusamus recusandae similique ab amet facere.</p>



</body>
</html>